page-mapa {
<<<<<<< HEAD
  #map {
    width: 100%;
    height: 400px;
  }
}

.scroll-bar-indicator
{
	display: none;
}
=======
  #mapa-campus {
    height: 100%;
  }
}
>>>>>>> d874b5b4c32466a20fb07e15940b8c63511b2141
